

body {background-color:darkslategray;
    color: black;
font-style: inherit;
font-size: 20px ;}


#title {
    text-align: center;
padding-bottom: 3.5rem;
    
}


.nav {
    
    list-style-type: none;
    padding: 30px;
    text-align:center; 
    
  }

  .li { 
    display: inline;
  }
    
table{
    margin-left: auto; 
    margin-right: auto;
    width: 40%;
  }
table ,th ,td {

    border: .2px solid black;
    border-collapse: collapse;
    
}

header{
    background-color: gray;
    display:flex;
    text-indent: 20rem;
    word-spacing: 400px;
}

footer{
    background-color: gray;
    text-align: center;
    height: 40px;
    margin-top: 100px;
}

#td{
 
    background-color: green;
 }
 
 .td2{
     background-color: red;
 }